<div id="build_model_form" title="创建新Model">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="target" class="col-sm-2 control-label">target variable</label>
                                <div class="col-md-10">
                                    <input type="text" name="target" id="target" class="form-control">
                                </div>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <label for="text" class="col-sm-2 control-label">text features</label>
                                <div class="col-md-10">
                                    <input type="text" name="text" id="text" class="form-control">
                                </div>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <label for="numerical" class="col-sm-2 control-label">numerical variable</label>
                                <div class="col-md-10">
                                    <input type="text" name="numerical" id="numerical" class="form-control">
                                </div>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-12">
                                  <button type="build" class="btn btn-default">Build</button>
                                </div>
                            </div>
                        </form>
                    </div>