{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "bootstrap/pagination.html" import render_pagination %}

{% block page_content %}
    <div class="page-header">
        <h1> Estimators</h1>
    </div>

    <div class="container">
        <div class="table-bordered" >
            <table class="table table-hover table-responsive ">
            <thead>
                <th>id</th>
                <th>name</th>
                <th>target</th>
                <th>performance</th>
                <th>timestamp</th>
                <th>status</th>
                <th>operation</th>
            </thead>
            <tbody>
            {% for estimator in estimators.items %}
                <tr>
                    <td>{{ estimator.id }}</td>
                    <td>{{ estimator.name }}</td>
                    <td>{{ estimator.target }}</td>
                    <td>
                        <button type="button" id="performance_{{ estimator.id }}"
                                class="btn btn-secondary"
                                data-toggle="popover" title="Performance(MAE RMSE MAPE)"
                                data-performance="{{estimator.performance }}">
                            detail
                        </button>
                    </td>
                    <td>{{ estimator.timestamp }}</td>
                    <td>
                        {{ 'Ready' if estimator.status else 'Building' }}
                    </td>
                    <td>{{ render_op(estimator.status, estimator.id) }}</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
        <div class="tab-pane">
            {{render_pagination(estimators, prev='Prev', next='Next')}}
        </div>
    </div>

{% endblock %}


{% macro render_op(status, id) %}
    {% if status %}
        <a  class="btn btn-success" href="{{ url_for('main.predict_index', id=id) }}">Apply</a>
          |
        <a class="btn btn-danger" href="{{ url_for('main.estimators_delete', id=id) }}">Del</a>

    {% else %}
        <a  class="btn btn-default">{{ 'Apply' }}</a> |
        <a  class="btn btn-default">{{ 'Del' }}</a>
    {% endif %}
{% endmacro %}

{% block scripts %}
    {{ super() }}
   <script type="text/javascript">
        $(document).ready(function(){
            $( "body" ).on('focus', ":input", function() {
                var currentId = $(this).attr('id');
                var data = display_performance($(this).attr('data-performance'));
                if (currentId.indexOf("performance" > -1)) {
                    $(this).popover({
                        trigger: "hover",
                        placement: "right",
                        html: true,
                        content: data
                    })
                }
            })
        });

        function display_performance(p) {
            var per = JSON.parse(p);
            var baseline =  per['baseline'].split('\t');
            var _this = per['performance'].split('\t');
            baseline = "<p>Baseline: " + baseline[0] + ", "
                                        + baseline[1] + ", "
                                        + baseline[2] + "</p>";
            _this = "<p>This    : " + _this[0] + ", "
                                    + _this[1] + ", "
                                    + _this[2] + "</p>";
            return baseline + _this;
        }
</script>
{% endblock %}