{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <div class="page-header">
        <h2> Analyse Dataset.</h2>
        <h4>Including statistics and Feature correlation analysis.
            You can search the atrget dataset by its id.
        </h4>
    </div>
    <div class="input-group-addon">
        {{ wtf.quick_form(form, form_type='inline')  }}
    </div>

    {% if analyse %}
        <div class="container">
            <div class="tabbable" id="tabs-866124">
            <ul class="nav nav-tabs">
                <li class="active">
                     <a href="#panel-923655" data-toggle="tab">Datset describe</a>
                </li>
                <li>
                     <a href="#panel-923656" data-toggle="tab">Correlation Analysis</a>
                </li>
                <li>
                     <a href="#panel-923657" data-toggle="tab">Build Model</a>
                </li>
            </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="panel-923655">
                    <h4>Numberical features only</h4>
                    <table class="table table-hover table-responsive ">
                    <thead>
                        <th>Feature</th>
                        <th>count(non-null)</th>
                        <th>mean</th>
                        <th>std</th>
                        <th>min</th>
                        <th>25%</th>
                        <th>50%</th>
                        <th>75%</th>
                        <th>max</th>
                    </thead>
                    <tbody>
                    {% for f_name, f_info in statistics.get('describe', {}).items() %}
                        <tr>
                            <td>{{ f_name }}</td>
                            <td>{{ f_info.get('count') }}</td>
                            <td>{{ '{:.2f}'.format(f_info.get('mean')) }}</td>
                            <td>{{ '{:.2f}'.format(f_info.get('std')) }}</td>
                            <td>{{ '{:.2f}'.format(f_info.get('min')) }}</td>
                            <td>{{ '{:.2f}'.format(f_info.get('25%')) }}</td>
                            <td>{{ '{:.2f}'.format(f_info.get('50%')) }}</td>
                            <td>{{ '{:.2f}'.format(f_info.get('75%')) }}</td>
                            <td>{{ '{:.2f}'.format(f_info.get('max')) }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
                <div class="tab-pane" id="panel-923656">
                    <table class="table table-hover table-responsive ">
                    <thead>
                        <th>Feature</th>
                        <th>mic</th>
                    </thead>
                    <tbody>
                    {% for corr in statistics.get('correlection') %}
                        {% for f, c in statistics.get('correlection')[corr].items() %}
                        <tr>
                            <td>{{ f }}</td>
                            <td>{{ '{:.2f}'.format(c) }}</td>
                        </tr>
                        {% endfor%}
                    {% endfor %}
                    </tbody>
                    </table>
                </div>

                <div class="tab-pane " id="panel-923657">
                    <div id="build_model_form" title="创建新Model">
                        <form class="form-horizontal" role="form" method="post" id="estimator-form">
                            <div class="form-group">
                                <div class="row">
                                <label for="target" class="col-sm-2 control-label">target variable</label>
                                <div class="col-lg-6">
                                    <select name="target" id="target" class="selectpicker" data-live-search="true">
                                        {% for fea in statistics.get('describe').keys()%}
                                            <option>{{ fea }}</option>
                                        {% endfor %}
                                    </select>
                                <div class="help-block with-errors"></div>
                                </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                <label for="features" class="col-sm-2 control-label">features</label>
                                <div class="col-lg-6">
                                    <select name="features" id="features" class="selectpicker"
                                            multiple>
                                        {% for fea in statistics.get('describe').keys()%}
                                            <option>{{ fea }}</option>
                                        {% endfor %}
                                    </select>
                                <div class="help-block with-errors"></div>
                                </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                <label for="name" class="col-sm-2 control-label">Estimator Name</label>
                                <div class="col-lg-6">
                                    <input type="text" name="name" id="name" class="col-xs-4 form-control" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-6 col-lg-offset-2">
                                    <!-- The hidden field -->
                                    <input type="hidden" name="filepath" id="filepath"
                                           value="{{ statistics.get('filepath') }}"/>
                                  <button type="submit" class="btn btn-success">Build</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='scripts/features/myflash.js') }}" type="text/javascript"></script>
    <script type="text/javascript">

    $(document).ready(function () {
        $('.selectpicker').selectpicker();

        $("#estimator-form").on('submit', function (e) {
            e.preventDefault();
            var features = $('#features').val();
            var target = $('#target').val();
            if (features === null) {
                return ShowWarn("Features is required.", $('#features'));
            }
            if (features.indexOf(target) > -1) {
                return ShowWarn("Features shouldn't include target.", $('#features'));
            }
            data = {
                'target': target,
                'features': features,
                'filepath': $('#filepath').val(),
                'name':     $('#name').val()
            };

            $.ajax({
			url: "{{ url_for('main.build_model') }}",
			data: JSON.stringify(data),
			type: 'POST',
			ajaxSend: ShowMsg("Model is building, wait please"),
			success: function(response){
				ShowSuccess('Model is built successfully.Redirect now!');
                top.location.href = response.result;
			},
			error: function(error){
				ShowFailure('Failed to build model.Please correct your input.');
			}
		    });
        });
    })
</script>

{% endblock %}