{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <div class="page-header">
        <h2> Analyse Dataset.</h2>
        <h4>Including statistics and Feature correlation analysis.
            You can search the atrget dataset by its id.
        </h4>
    </div>
    <div class="panel-footer">
        {{ wtf.quick_form(form, form_type='inline')  }}
    </div>

    {% if analyse %}
        <div class="panel-body">
            <li>Analyse test</li>
        </div>
    {% endif %}
{% endblock %}
