{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <div class="panel-body">
        <div class="jumbotron">
            <h2>ATP is a good way to analyse business process event log.</h2>
            <p>
                <strong>Dataset</strong>&nbsp;&nbsp;You can upload and browser your dataset here.
                Your dataset must be <span>csv</span> format, and the first column must be target
                variable.<i>And we assume that you have preprocessed your dataset such as text
                features vectoring, Imputation of missing values, normalization and so on.</i>
            </p>
            <p>
                <strong>Feature</strong>
                You can analyse the target dataset here, including its describe and featurs'
                Correlation with target variable.What's more, you could select interested features
                to build a predictable model to use later.
            </p>

            <p>
                <strong>Subject</strong>
                You can browse your subjects here.Especially you can browse and compare
                predictable models within it, choose one to make a predict online.
            </p>
        </div>
        <div class="panel-footer">
            <p>
                <strong>Note</strong>
                All the online functions have good designed API, you can easily integrated into
                your information system.
            </p>
        </div>
    </div>

{% endblock %}
