{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <div class="page-header">
        <h2> Predict
            <small>Fill features, click &nbsp;<b>Predict</b>&nbsp; to get predicted value.</small>
        </h2>
    </div>

    <div class="container panel-body">
        <div>
            <h3>Features</h3>
        </div>
        <form class="form-horizontal" id="features_form" role="form">
          {% for feature in params.features %}
          <div class="form-group col-xs-3">
            <label for="{{ feature }}" class="sr-only">{{ feature }}</label>
            <input type="number" class="form-control" name="{{ feature }}"
                   id="{{ feature }}"
                   placeholder="{{ feature }}">
          </div>
          {% endfor %}
            <input type="hidden" name="id" id="id" value="{{ params.get('id') }}"/>
            <button type="submit" class="btn btn-primary" id="predict">Predict</button>
        </form>
    </div>

    <div class="container panel-body">
        <div class="row">
            <h3>Target <small>{{ params.get('target') }}</small></h3>
            <div class="bg-success">
                <p class="lead text-success text-center" id="target" style="font-size: 64px"></p>
            </div>
        </div>

    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='scripts/features/myflash.js') }}"></script>
    <script type=text/javascript>

 $('#predict').click(function (e) {
        e.preventDefault();
        $.ajax({
			url: "{{ url_for('main.predict_active') }}",
			data: $('#features_form').serialize(),
			type: 'POST',
			success: function(response){
				$('#target').text(response.result);
			},
			error: function(error){
				ShowFailure(error.responseJSON.msg);
			}
		});
    });
</script>

{% endblock %}